/*Global*/
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

/* Half By Half Widget */
.widget-seperator{
    padding: 120px 0px;
}
.half-by-half-container{
    background-color: #f5f4f2;
}
.half-by-half-container p{
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.half-by-half-container h3{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.half-by-half-container .button-widget>a{
    background: #cf102d;
    color: white;
    border: 2px solid #cf102d;
    min-width: 180px;
    text-align: center;
    padding: 12px 18px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
}

.half-by-half-inner-container{
    margin: 25px 0px;
}

/** Title And Text Widget **/
.title-and-text-container{
    text-align: center;
}
.title-and-text-container h2{
    position: relative;
    margin: 0 0 55px;
    padding: 0px 0 55px;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
}
.title-and-text-container h2:after{
    position: absolute;
    bottom: 0px;
    content: " ";
    width: 60px;
    border-bottom: 2px solid;
    left: 50%;
    transform: translateX(-50%);
}
.title-and-text-container .text-container{
    margin: auto;
    width: 82.83333%;
}
.title-and-text-container p{
    font-size: 22px;
    line-height: 36px;
    margin: 0;
}

/** Full Page Image Widget ***/
.full-page-image-container .full-page-image-background{
    height: calc(100vh);
    max-width: 100vw;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.full-page-image-container .full-page-image-title-button-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 65.66667%;
}
.full-page-image-container .full-page-image-title-button-container h1{
    font-weight: 600;
    font-size: 72px;
    line-height: 164px;
    text-transform: uppercase;
}
.full-page-image-container .full-page-image-title-button-container>h1>span {
    display: inline;
    padding: 5px;
    background: black;
    color: white;
    box-shadow: 18px 0 0 black, -18px 0 0 black;
}

.full-page-image-container .full-page-image-title-button-container>.button-widget {
    display: inline-block;
    margin-top: 30px;
}
.full-page-image-container .full-page-image-title-button-container>.button-widget>a {
    color: white;
    //border: 2px solid #cf102d;
    min-width: 180px;
    text-align: center;
    padding: 14px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
}
.full-page-image-container .scroll-down-arrow{
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%, 0);
}
.full-page-image-container .scroll-down-arrow>a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.full-page-image-container .scroll-down-arrow>img{
    max-width: 100%;
    vertical-align: bottom;
}
@media (max-width: 767.98px) {
    .full-page-image-container .full-page-image-title-button-container h1 {
        font-size: 45px;
        line-height: 100px;
    }
}


/** Contact page widget ***/

.half-by-half-contact-container{
    text-align: center;
    background-color: #f5f4f2;
  /*  padding-top: 50px;
    padding-bottom: 50px;
    */
    padding-top: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.half-by-half-contact-container h1{
    position: relative;
    margin: 0 0 105px;
    padding: 0px 0 55px;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
.half-by-half-contact-container h1:after{
    position: absolute;
    bottom: 0px;
    content: " ";
    width: 60px;
    border-bottom: 2px solid #cf102d;
    left: 50%;
    transform: translateX(-50%);
}
.half-by-half-contact-container .square-box{
    text-align: center;
    background-color: unset;
    height: 100%;
    margin: unset;
    padding: unset;
    padding-top: 20px;
}
.half-by-half-contact-container .square-box .square-container{
    background-color: white;
    height: 100%;
    padding: 62px 0px;
}
.half-by-half-contact-container .square-box .contact-icon {
    padding: 0 0 36px 0;
}
.half-by-half-contact-container .square-box h3 {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    font-weight: bold;
}
.half-by-half-contact-container p{
    font-size: 18px;
    line-height: 26px;
    margin: 0
}
.half-by-half-contact-container .call{
    margin-bottom: 26px;
}
.half-by-half-contact-container .email>p>a {
    color: #cf102d;
    text-decoration: none;
}

.half-by-half-contact-container .social-contact{
    margin-top: 60px;
}
.half-by-half-contact-container .social-contact>a{
    text-decoration: none;
    margin: 12px;
}

/***Show Posts Widget **/
.show-posts-widget{
    margin-top: 60px;
    margin-bottom: 60px;
}
.show-posts-widget .show-posts-container>.thumbnails-container{
    margin-bottom: 130px;
    overflow: hidden;
}
.show-posts-widget .show-posts-container>.thumbnails-container>a>img{
    transition: transform 0.3s;
}
.show-posts-widget .show-posts-container>.thumbnails-container>a>img:hover {
    transform: scale(1.1);
}
.show-posts-widget .show-posts-container h5{
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 26px;
}
.show-posts-widget .show-posts-container h3{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
   // height: 44px;
    font-weight: 700;
}
.show-posts-widget .show-posts-container h3>a{
    text-decoration: none;
    color: #000;
}


.show-posts-widget .show-posts-container{
    display: flex;
    align-items: flex-end;
    height: 100%;
    flex-flow: column-reverse;
    position: relative;
}
.show-posts-widget .thumbnails-container{

}
.show-posts-widget .absolute-text-container{
    position: absolute;
    width: 100%;
    min-height: 130px;
}
.show-posts-widget .text-container{
    display: block;
    width: 100%;
    height: 100%;
}
.show-posts-widget .button-row .cta>a.cta-button{
    border: 2px solid #cf102d;
    color:#cf102d;
    min-width: 180px;
    text-align: center;
    padding: 12px 18px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.show-posts-widget .button-row .cta>a.cta-button:hover{
    background: #cf102d;
    color: white;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}